/* TOP-NAV BAR */
.main-margin {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}

.font {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
}

.logo {
    width: 125px;
    height: 25px;
}

.xbox-logo {
    width: 75px;
    height: 25px;
    margin-left: 10px;
    align-items: center;
}

.line-margin {
    margin-left: 10px;
}

.left-menu {
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-right: auto;
    margin-left: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-bottom: 2px;
}

.left-menu a:hover {
    text-decoration: underline;
}

.margin-dropdown {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    white-space: normal;
    background-color: lightgray;
    color: black;
}

.margin-dropdown-width {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    white-space: normal;
    width: 800%;
    background-color: lightgray;
    color: black;
}

.fontsize-dropdown {
    font-size: medium;
}

.right-menu {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;

}

.hover:hover {
    text-decoration: underline;
}


.margin-icon {
    margin-top: -6px;
}


/* TOP - CAROUSEL */

.btn-slide {
    color: darkgreen;
    background-color: lightgreen;
}

.slide1 {
    margin-bottom: 150px;
    transform: translateX(700px);
    max-width: 500px;
    text-align: start;
}

.slide2 {
    margin-bottom: 175px;
    max-width: 500px;
    text-align: start;
}

.slide3 {
    color: black;
    text-align: start;
    max-width: 500px;
    margin-bottom: 175px;
    transform: translateX(700px);
}

.hover:hover {
    text-decoration: underline!important;

}



/* LINKS */
.image {
    margin-top: 20px;
    width: auto;
    height: auto;
    margin-left: 15px;
}

.text {
    text-align: center;
    font-size: medium;
    color: green;
}
.text:hover:hover {
    text-decoration: underline;
}

/* CARDS */

.font-color {
    color: white;
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}


/* GRID-LEGENDS */
.grid-legends{
    width: 25cm;
    height: 28cm;
    color: black;
    font-size: 0.5cm;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
}

.layout1 {
    margin-top: 80%;
    margin-left: 5%;
}

.link1 {
    color: black;
    text-decoration: none;
    font-size: 0.5cm;
}

.link1:hover {
    text-decoration: underline;
}

/* GAME PASS */

.background {
    background-color: green;
}
.discover-next {
    width: 12cm;
    height: 15cm;
    border: none;
}

.game-pass {
    width: 13cm;
    height: 15cm;
    border: none;

}

.layout2 {
    margin-top: 40%;
    margin-left: 5%;
    margin-right: 5%;
}


.link2 {
    text-decoration: none;
    color: white
}

.link2:hover {
    color: lightgreen;
    text-decoration: underline;
    font-weight: bold;
}



/* XBOX-BLACK */
.background {
    background-color: green;
}
.xbox-black-text {
    width:12cm;
    height: 15cm;
    border: none;
}

.xbox-black{
    width: 13cm;
    height: 15cm;
    border: none;

}

.layout3 {
    margin-top: 35%;
}


.link3 {
    text-decoration: none;
    color: white
}

.link3:hover {
    color: lightgreen;
    text-decoration: underline;
    font-weight: bold;
}

/* Xbox-Design-Lab */
.xbox-design-lab{
    width:25cm;
    color: white;
    font-size: 0.5cm;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
}

.layout4 {
    margin-top: 80%;
    margin-left: 5%;
}

.link4 {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.link4:hover {
    text-decoration: underline;
}
.push-image-up {
  transform: translateY(-46%);
  margin-right:15px;
  margin-left: 1px;
}

/* Fortnite Bundle */
.fortnite-bundle {
  transform: translateY(-61%);
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.fortnite-header {
  font-size: 500%;
  width: 25%;
  margin-top: 10%;
  margin-left: 5%;
}

.fortnite-text {
  font-size: 200%;
  width: 27%;
  margin-left: 5%;
}

.fortnite-button {
  margin-left: 5%;
}

/* GRID LEGENDS */
.grid-legend-small-pushup {
  transform: translateY(-85%);
}

.grid-legend-text-margin {
  margin-left: 0.5%;
}

.background {
    background-color: green;
}
.grid-legend-text {
    width: 12cm;
    height: 15cm;
    border: none;
}

.grid-legend-card {
    width: 13cm;
    height: 15cm;
    border: none;

}

.grid-legend-text-layout {
    margin-top: 44%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 115%;
    width: 80%;
}

.grid-legend-link {
    text-decoration: none;
    color: white
}

.grid-legend-link:hover {
    color: lightgreen;
    text-decoration: underline;
    font-weight: bold;
}
