<!--TOPNAVBAR-->
<nav class="py-2">
    <div class="d-flex flex-wrap main-margin">
        <img src="/assets/microsoft-logo.png" class="logo my-2">
        <h4 class = "line-margin my-1">|</h4>
        <img src="/assets/xbox/xbox.png" class="xbox-logo my-2">

        <ul class="nav left-menu">
            <div class="dropdown">
                <a class="btn dropdown-font" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  Game Pass
                  <svg class="bi" width="10" height="10" fill="currentColor">
                    <use xlink:href="assets/bootstrap-icons.svg#chevron-down"/>
                  </svg>
                </a>
                <ul class="dropdown-menu margin-dropdown" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Overview</a></li>
                  <li><a class="dropdown-item" href="#">Browse Games</a></li>
                  <li><a class="dropdown-item" href="#">PC Game Pass</a></li>
                  <li><a class="dropdown-item" href="#">XBox Cloud Gaming (Beta)</a></li>
                  <li><a class="dropdown-item" href="#">XBox Live Gold</a></li>
                </ul>
              </div>

                <div class="dropdown">
                    <a class="btn dropdown-font" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Games
                    <svg class="bi" width="10" height="10" fill="currentColor">
                        <use xlink:href="assets/bootstrap-icons.svg#chevron-down"/>
                    </svg>
                    </a>
                <ul class="dropdown-menu margin-dropdown-width" aria-labelledby="dropdownMenuLink">
                    <div class="row row-cols-3">
                        <div class="col">
                        <h6 class="mx-2">Console Games</h6>
                            <ul class="nav flex-column">
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Shop all console games</a></li>
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Optimized games</a></li>
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Backward compatible games</a></li>
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Games with Gold</a></li>
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Deals with Gold</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <h6 class="mx-2">PC Games</h6>
                            <ul class="nav flex-column">
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Shop all PC games</a></li>
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">PC gaming with Xbox</a></li>
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">PC Game Pass</a></li>
                            </ul>
                        </div>
                        <div class="col">
                        <h6 class="mx-2">All Games</h6>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Explore games</a></li>
                                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Redeem Code</a></li>
                                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Sales & Specials</a></li>
                            </ul>
                        </div>
                    </div>
                </ul>
                </div>

                <div class="dropdown">
                    <a class="btn dropdown-font" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Devices
                    <svg class="bi" width="10" height="10" fill="currentColor">
                        <use xlink:href="assets/bootstrap-icons.svg#chevron-down"/>
                    </svg>
                    </a>
                <ul class="dropdown-menu margin-dropdown-width" aria-labelledby="dropdownMenuLink">
                    <div class="row row-cols-3">
                        <div class="col">
                        <h6 class="mx-2">Consoles</h6>
                            <ul class="nav flex-column">
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Xbox consoles</a></li>
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Xbox Series X</a></li>
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Xbox Series S</a></li>
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Xbox All Access</a></li>
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Shop all consoles</a></li>
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Help me choose</a></li>
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Where to buy</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <h6 class="mx-2">Accessories</h6>
                            <ul class="nav flex-column">
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Shop all accessories</a></li>
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Design your controller</a></li>
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Controllers</a></li>
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Headsets</a></li>
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Hard drives & storage</a></li>
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Mobile gaming accessories</a></li>
                            </ul>
                        </div>
                        <div class="col">
                        <h6 class="mx-2">PC Devices</h6>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Gaming PCs</a></li>
                            </ul>
                        </div>
                    </div>
                </ul>
                </div>

                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Play</a></li>

                <div class="dropdown">
                    <a class="btn dropdown-font" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Community
                    <svg class="bi" width="10" height="10" fill="currentColor">
                        <use xlink:href="assets/bootstrap-icons.svg#chevron-down"/>
                    </svg>
                    </a>
                <ul class="dropdown-menu margin-dropdown-width" aria-labelledby="dropdownMenuLink">
                    <div class="row row-cols-4">
                        <div class="col">
                        <h6 class="mx-2">Community</h6>
                            <ul class="nav flex-column">
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Xbox Community</a></li>
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Multiplayer gaming</a></li>
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Esports</a></li>
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Xbox News</a></li>
                            </ul>
                        </div>
                        <div class="col">
                        <h6 class="mx-2">For Everyone</h6>
                            <ul class="nav flex-column">
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Our philosophy</a></li>
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Responsible gaming</a></li>
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Accessible gaming</a></li>
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Community standards</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <h6 class="mx-2">Xbox Gear Shop</h6>
                            <ul class="nav flex-column">
                            <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Shop gear</a></li>
                            </ul>
                        </div>
                        <div class="col">
                        <h6 class="mx-2">Apps & Entertainment</h6>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Xbox app for mobile</a></li>
                                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Xbox app for Windows PC</a></li>
                                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Xbox Game Pass mobile app</a></li>
                                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Xbox Family Settings app</a></li>
                                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Console entertainment apps</a></li>
                            </ul>
                        </div>
                    </div>
                </ul>
                </div>

                <div class="dropdown">
                    <a class="btn dropdown-font" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      Support
                      <svg class="bi" width="10" height="10" fill="currentColor">
                        <use xlink:href="assets/bootstrap-icons.svg#chevron-down"/>
                      </svg>
                    </a>
                    <ul class="dropdown-menu margin-dropdown" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Support home</a></li>
                      <li><a class="dropdown-item" href="#">Xbox Status</a></li>
                      <li><a class="dropdown-item" href="#">Help topics</a></li>
                      <li><a class="dropdown-item" href="#">Accessible gaming</a></li>
                      <li><a class="dropdown-item" href="#">New in Support</a></li>
                    </ul>
                  </div>

                  <div class="dropdown">
                    <a class="btn dropdown-font" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      My Xbox
                      <svg class="bi" width="10" height="10" fill="currentColor">
                        <use xlink:href="assets/bootstrap-icons.svg#chevron-down"/>
                      </svg>
                    </a>
                    <ul class="dropdown-menu margin-dropdown" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Home</a></li>
                      <li><a class="dropdown-item" href="#">Profile</a></li>
                    </ul>
                  </div>

                  <div class="dropdown">
                    <a class="btn dropdown-font" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      Developers
                      <svg class="bi" width="10" height="10" fill="currentColor">
                        <use xlink:href="assets/bootstrap-icons.svg#chevron-down"/>
                      </svg>
                    </a>
                    <ul class="dropdown-menu margin-dropdown" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Games</a></li>
                      <li><a class="dropdown-item" href="#">ID@Xbox</a></li>
                      <li><a class="dropdown-item" href="#">Windows</a></li>
                      <li><a class="dropdown-item" href="#">Creators Program</a></li>
                      <li><a class="dropdown-item" href="#">Designed for Xbox</a></li>
                    </ul>
                  </div>

        </ul>


        <ul class = "nav right-menu">
            <li class = "nav-item">
            <div class="dropdown my-1">
                <button class="btn my-auto font hover" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  All Microsoft
                  <svg class="bi" width="10" height="10" fill="currentColor">
                    <use xlink:href="assets/bootstrap-icons.svg#chevron-down"/>
                  </svg>
                </button>
                <ul class="dropdown-menu margin-dropdown" aria-labelledby="dropdownMenuButton1">
                <div class="row row-cols-6 ">
                    <div class="col">
                      <h6 class="mx-2">Software</h6>
                      <ul class="nav flex-column">
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Windows Apps</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">OneDrive</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Outlook</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Skype</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">OneNote</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Microsoft Teams</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Microsoft Edge</a></li>
                      </ul>
                    </div>
                    <div class="col">
                      <h6 class="mx-2">PCs & Devices</h6>
                      <ul class="nav flex-column">
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Computers</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Shop XBox</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Accessories</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">VR & mixed reality</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Phones</a></li>
                      </ul>
                    </div>
                    <div class="col">
                      <h6 class="mx-2">Entertainment</h6>
                      <ul class="nav flex-column">
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">XBox Game Pass Ultimate</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">XBox Live Gold</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">XBox games</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">PC games</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Windows digital games</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Movies & TV</a></li>
                      </ul>
                    </div>
                    <div class="col">
                      <h6 class="mx-2">Business</h6>
                      <ul class="nav flex-column">
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Microsoft Cloud</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Microsoft Azure</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Microsoft Dynamic 365</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Microsoft 365</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Windows 365</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Microsoft Industry</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Microsoft Advertising</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Shop Business</a></li>

                      </ul>
                    </div>
                    <div class="col">
                      <h6 class="mx-2">Developer & IT</h6>
                      <ul class="nav flex-column">
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">.NET</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Visual Studio</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Windows Server</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Windows Dev Center</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Docs</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Power Platform</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Power Apps</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">HoloLens 2</a></li>

                      </ul>
                    </div>
                    <div class="col">
                      <h6 class="mx-2">Other</h6>
                      <ul class="nav flex-column">
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Microsoft Rewards</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Free downloads & security</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Education</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Virtual workshops and training</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Gift cards</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Gift Ideas</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Licensing</a></li>
                        <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Microsoft Experience Center</a></li>
                      </ul>
                    </div>
                </div>
                </ul>
            </div>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link link-dark px-2 font align-item-center">
                Search
                <svg class="bi my-2" width="15" height="15" fill="currentColor">
                    <use xlink:href="/assets/bootstrap-icons.svg#search"/>
                </svg>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link link-dark px-2 font align-item-center">
                Cart
                <svg class="bi my-2" width="15" height="15" fill="currentColor">
                <use xlink:href="/assets/bootstrap-icons.svg#cart3"/>
                </svg>
                </a>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-light text-dark margin-icon">
                <a href="#" class="nav-link link-dark px-2 font">
                Sign In
                <svg class="bi my-2" width="15" height="15" fill="currentColor">
                <use xlink:href="/assets/bootstrap-icons.svg#person-circle"/>
                </svg>
                </a>
                </button>
            </li>
        </ul>
    </div>
  </nav>

<!--TOP CAROUSEL-->
<div class="xboxcarousel-margin">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/xbox/carousel/Destiny2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block slide1">
        <h1>Destiny 2: The Witch Queen</h1>
        <h3>Take back the light</h3>
        <a href="#" >
          <button type="button" class="btn btn-success btn-slide hover">GET IT NOW
            <svg class="bi " width="20" height="20" fill="currentColor">
                <use xlink:href="/assets/bootstrap-icons.svg#chevron-right"/>
              </svg>
          </button>
        </a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/xbox/carousel/CrossfireX.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block slide2">
        <h1>CrossfireX</h1>
        <h3>Where will the fire take you?</h3>
        <a href="#" >
          <button type="button" class="btn btn-success btn-slide hover">GET IT NOW
            <svg class="bi" width="20" height="20" fill="currentColor">
                <use xlink:href="/assets/bootstrap-icons.svg#chevron-right"/>
              </svg>
          </button>
        </a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/xbox/carousel/Madden.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block slide3">
        <h1>Madden NFL 22</h1>
        <h3>Added to the Play List. Play with Xbox Game Pass Ultimate. </h3>
        <a href="#" >
          <button type="button" class="btn btn-success btn-slide hover">GET IT NOW
            <svg class="bi" width="20" height="20" fill="currentColor">
                <use xlink:href="/assets/bootstrap-icons.svg#chevron-right"/>
              </svg>
          </button>
        </a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

<!--LINKS-->
<div class="container d-flex justify-content-center">
<div class="card-transparent" *ngFor="let product of xboximages">
  <a href="#" class="nav-link link-dark">
  <img src= {{product.img}} class="card-img-top image" alt="...">
  <div class="card-body text">
    {{product.link}}
  </div>
</a>
</div>
</div>

<!--CARDS-->

<div style="display: flex">
  <div class="card grid-legends">
    <img src="assets/xbox/cards/grid-legends.jpg" class="card-img" alt="Grid Legends Image">
    <div class="card-img-overlay layout1">
      <h2 class="card-title fw-fold">GRID Legends</h2>
      <p class="card-text">Play now with Xbox game pass or purchase</p>
      <a href="#" class="fw-bold link1"> GET IT NOW
      </a>
      <svg class="bi" width="15" height="15" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#chevron-right"/>
      </svg>
    </div>
  </div>

  <div class="card discover-next background">
      <div class="card-img-overlay layout2">
        <a href="" class="font-color">
        <h2 class="card-title">Discover your next favorite game</h2>
        <p class="card-next">Play over 100 high-quality games with friends on console, PC, phones and tablets</p>
        <a href="#" class="fw-bold link2"> JOIN XBOX GAME PASS
        </a>
        <svg class="bi" width="15" height="15" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons.svg#chevron-right"/>
        </svg>
        </a>
      </div>
    </div>

  <div class="card game-pass">
    <img src="assets/xbox/cards/game-pass.jpg" class="card-img game-pass" alt="Game-pass Image">
  </div>
</div>

<div style="display: flex">
  <div class="card xbox-black ms-2">
    <img src="assets/xbox/cards/xbox-black.jpg" class="card-img xbox-black" alt="Xbox Black Image">
  </div>

  <div class="card xbox-black-text background">
      <div class="card-img-overlay layout3">
        <a href="" class="font-color">
        <h2 class="card-title">Xbox celebrates Black History Month</h2>
        <p class="card-next">Here are some of the ways we're celebrating - join us.</p>
        <a href="#" class="fw-bold link3"> LEARN MORE
        </a>
        <svg class="bi" width="15" height="15" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons.svg#chevron-right"/>
        </svg>
        </a>
      </div>
    </div>

  <div class="card xbox-design-lab push-image-up ">
    <img src="assets/xbox/cards/xbox-design-lab.jpg" class="card-img " alt="Xbox Design Lab Image">
    <div class="card-img-overlay layout4">
      <h1 class="card-title fw-fold">Xbox Design Lab</h1>
      <p class="card-text">Make it yours with metallic finishes, rubberized grips and more</p>
      <a href="#" class="fw-bold link4"> DESIGN YOURS
      </a>
      <svg class="bi" width="15" height="15" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#chevron-right"/>
      </svg>
    </div>
  </div>
</div>

<div style="display: flex">
  <div class="card fortnite-bundle">
    <img src="assets/xbox/cards/fortnite-bundle.jpg" class="card-img " alt="">
    <div class="card-img-overlay">
      <h1 class="card-title fw-fold fortnite-header"> SIMPLY NEXT GEN </h1>
      <p class="card-text fortnite-text">Claim victory with the new Xbox Series S - Fortnite and Rocket League Bundle</p>
      <a href="#" >
        <button type="button" class="btn btn-slide hover my-1 fortnite-button">LEARN MORE
          <svg class="bi " width="20" height="20" fill="currentColor">
              <use xlink:href="/assets/bootstrap-icons.svg#chevron-right"/>
            </svg>
        </button>
      </a>
    </div>
  </div>
  </div>

<div style = "display: flex">
  <div class="card grid-legend-small-pushup grid-legend-text-margin grid-legend-text background">
      <div class="card-img-overlay grid-legend-text-layout">
        <a href="" class="font-color">
        <h2 class="card-title">Grid Legends</h2>
        <p class="card-next">Play now with Xbox Game Pass or purchase</p>
        <a href="#" class="fw-bold grid-legend-link"> JOIN XBOX GAME PASS
        </a>
        <svg class="bi" width="15" height="15" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons.svg#chevron-right"/>
        </svg>
        </a>
      </div>
    </div>

  <div class="card grid-legend-small-pushup grid-legend-card">
    <img src="assets/xbox/cards/grid-legend-card.jpg" class="card-img grid-legend-card" alt="Game-pass Image">
  </div>

  <div class="card quarry quarry-push-image-up ">
    <img src="assets/xbox/cards/quarry.jpg" class="card-img " alt="Quarry Image">
    <div class="card-img-overlay quarry-text-layout">
      <h1 class="card-title fw-fold">The Quarry</h1>
      <p class="card-text">You won't believe what you'll become</p>
      <a href="#" class="fw-bold quarry-link"> PRE-ORDER NOW
      </a>
      <svg class="bi" width="15" height="15" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#chevron-right"/>
      </svg>
    </div>
  </div>
</div>

<div style = "display: flex">
  <div class="card w-history w-history-push-image-up ">
    <img src="assets/xbox/cards/women-history-month.jpg" class="card-img " alt="XBox celebrates Women's History Month Image">
    <div class="card-img-overlay w-history-text-layout">
      <h1 class="card-title fw-fold">Xbox celebrates Women's History Month</h1>
      <p class="card-text">Here are some of the ways we're celebrating -join us.</p>
      <a href="#" class="fw-bold w-history-link"> LEARN MORE
      </a>
      <svg class="bi" width="15" height="15" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#chevron-right"/>
      </svg>
    </div>
  </div>
</div>
