/* TOP-NAV BAR */
.main-margin {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}

.font {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;       
}

.logo {
    width: 125px;
    height: 25px;
}

.xbox-logo {
    width: 75px;
    height: 25px;
    margin-left: 10px;
    align-items: center;
}

.line-margin {
    margin-left: 10px;
}

.left-menu {
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-right: auto;
    margin-left: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-bottom: 2px;
}

.left-menu a:hover {
    text-decoration: underline;
}

.margin-dropdown {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    white-space: normal;
    background-color: lightgray;
    color: black;
}

.margin-dropdown-width {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    white-space: normal;
    width: 800%;
    background-color: lightgray;
    color: black;
}

.fontsize-dropdown {
    font-size: medium;
}

.right-menu {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
   
}

.hover:hover {
    text-decoration: underline;
}


.margin-icon {
    margin-top: -6px;
}


/* TOP - CAROUSEL */

.btn-slide {
    color: darkgreen;
    background-color: lightgreen;
}

.slide1 {
    margin-bottom: 150px;
    transform: translateX(700px);
    max-width: 500px;
    text-align: start;
}

.slide2 {
    margin-bottom: 175px;
    max-width: 500px;
    text-align: start;
}

.slide3 {
    color: black;
    text-align: start;
    max-width: 500px;
    margin-bottom: 175px;
    transform: translateX(700px);
}

.hover:hover {
    text-decoration: underline!important;

}



/* LINKS */
.image {
    margin-top: 20px;
    width: auto;
    height: auto;
    margin-left: 15px;
}

.text {
    text-align: center;
    font-size: medium;
    color: green;
}
.text:hover:hover {
    text-decoration: underline;
}

/* CARDS */

.font-color {
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}


/* GRID-LEGENDS */
.grid-legends{
    width: 915px;
    height: 1033px;
    color: black;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
}

.layout1 {
    transform: translateY(70%);
    margin-left: 5%;
}

.link1 {
    color: black;   
    text-decoration: none;
    font-size: 15px;
}

.link1:hover {
    text-decoration: underline;
}

/* GAME PASS */

.background {
    background-color: green;
}
.discover-next {
    width: 460px;
    height: 518px;
    border: none;
}

.game-pass {
    width: 460px;
    height: 518px;
    border: none;

}

.layout2 {
    transform: translateY(30%);
    margin-left: 5%;
    margin-right: 5%;
}


.link2 {
    text-decoration: none;
    color: white
}

.link2:hover {
    color: lightgreen;
    text-decoration: underline;
    font-weight: bold;
}

.push-image-up{
    transform: translateY(-49%);
}

/* XBOX-BLACK */
.background {
    background-color: green;
}
.xbox-black-text {
    width: 460px;
    height: 510px;
    border: none;
}

.xbox-black{
    width: 460px;
    height: 510px;
    border: none;

}

.layout3 {
    transform: translateY(30%);
    margin-left: 5%;
    margin-right: 5%;
}


.link3 {
    text-decoration: none;
    color: white
}

.link3:hover {
    color: lightgreen;
    text-decoration: underline;
    font-weight: bold;
}

/* Xbox-Design-Lab */
.xbox-design-lab{
    width: 915px;
    height: 1052px;
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
}

.layout4 {
    transform: translateY(70%);
    margin-left: 5%;
}

.link4 {
    color: white;   
    text-decoration: none;
    font-size: 15px;
}

.link4:hover {
    text-decoration: underline;
}

.push-image-up{
    transform: translateY(-49%);
}


