
<div class="container">
<div class="row row-cols-1 row-cols-md-6 g-6 margin">
    <div class="col">
      <div class="card">
        <img src="assets/links/windows.png" class="card-img-top size" alt="...">
        <div class="card-body">
         
            <a href="#" class="nav-link link-dark align">Choose your Microsoft 365</a>
        </div>
      </div>
    </div>

    <div class="col">
        <div class="card">
          <img src="assets/links/surface-devices.webp" class="card-img-top size" alt="...">
          <div class="card-body">
           
              <a href="#" class="nav-link link-dark align">Shop Surface devices</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="assets/links/xbox.webp" class="card-img-top size" alt="...">
          <div class="card-body">
           
              <a href="#" class="nav-link link-dark align">Buy XBox games and consoles</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="assets/links/windows.png" class="card-img-top size" alt="...">
          <div class="card-body">
           
              <a href="#" class="nav-link link-dark align">Get Windows 11</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="assets/links/next-pc.webp" class="card-img-top size" alt="...">
          <div class="card-body">
           
              <a href="#" class="nav-link link-dark align">Find your next pc</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="assets/links/business.webp" class="card-img-top size" alt="...">
          <div class="card-body">
           
              <a href="#" class="nav-link link-dark align">Shop business</a>
          </div>
        </div>
      </div>
    
    </div>
  </div>
