
<div class="background px-5">
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-start py-3">
      <a class="nav-link px-2 text-muted justify-content-start my-2">
        <svg class="bi" width="20" height="20" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons.svg#globe2"/>
        </svg>
      <a href="#" class="link-start my-0"> English (United States)</a>
      </a>

      <a class="nav-link px-2 text-muted justify-content-end my-2">
        <a href="#" class="link-end my-0 px-2">SiteMap</a>
        <a href="#" class="link-end my-0 px-2">Contact Microsoft</a>
        <a href="#" class="link-end my-0 px-2">Privacy</a>
        <a href="#" class="link-end my-0 px-2">Terms of use</a>
        <a href="#" class="link-end my-0 px-2">Trademarks</a>
        <a href="#" class="link-end my-0 px-2">Safety & ceo</a>
        <a href="#" class="link-end my-0 px-2">About our ads</a>
        <a class="p-end my-0 px-2">© Microsoft 2022</a>

      </a>
      

    </footer>
  </div>
</div>