.container {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    margin: auto;
}

.font {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;       
}

.logo {
    width: 125px;
    height: 25px;
}

.left-menu {
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-right: auto;
    margin-left: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-bottom: 2px;
}

.left-menu a:hover {
    text-decoration: underline;
}

.right-menu {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: -50px;
}

.margin-allmicrosoft {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    white-space: normal;
    width: 800%;
}

.hover:hover {
    text-decoration: underline;
    background-color: lightgray;
}

.background {
    background-color: lightgray;
    color: black;
}

.margin-icon {
    margin-top: -5px;
}
