<div class="container">
  <img src="/assets/microsoft-logo.png" class="logo my-2">

  <ul class="nav left-menu">
    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Microsoft 365</a></li>
    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Office</a></li>
    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Windows</a></li>
    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Surface</a></li>
    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Xbox</a></li>
    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Deals</a></li>
    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Support</a></li>

  </ul>

  <ul class = "nav">
    <li class = "nav-item">
        <a class = "nav-link link-dark px-2" href="#">
            All Microsoft
            <svg class="bi" width="10" height="10" fill="black">
               <use xlink:href="assets/bootstrap-icons.svg#chevron-down"/>
             </svg>
        </a>
    </li>
</ul>

  <ul class="nav right-menu">
    <li class="nav">
      <a href="#" class="nav-link link-dark px-2">Search</a>
      <svg class="bi" width="20" height="20" fill="currentColor">
        <use xlink:href="/assets/bootstrap-icons.svg#search"/>
      </svg>
    </li>
    <li class="nav">
      <a href="#" class="nav-link link-dark px-2">Cart</a>
      <svg class="bi" width="20" height="20" fill="currentColor">
        <use xlink:href="/assets/bootstrap-icons.svg#cart3"/>
      </svg>
    </li>
    <li class = "nav">
    <button type="button" class="btn">
      <a href="#" class="nav-link link-dark px-2">Sign in
        <svg class="bi" width="20" height="20" fill="currentColor">
          <use xlink:href="/assets/bootstrap-icons.svg#person-circle"/>
        </svg>
      </a> 
    </button>
  </li>
  </ul>
</div>

