<div class="topbar mt-2">
<div class="container">
  <img src="/assets/microsoft-logo.png" class="logo my-2">

  <ul class="nav left-menu">
    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Microsoft 365</a></li>
    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Office</a></li>
    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Windows</a></li>
    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Surface</a></li>
    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Xbox</a></li>
    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Deals</a></li>
    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Support</a></li>

  </ul>

  <ul class = "nav">
    <li class = "nav-item">
      <div class="dropdown">
        <button class="btn my-auto font" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          All Microsoft
          <svg class="bi" width="10" height="10" fill="currentColor">
            <use xlink:href="assets/bootstrap-icons.svg#chevron-down"/>
          </svg>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <div class="row row-cols-6 py-5 mt-5">    
            <div class="col">
              <h6>Software</h6>
              <ul class="nav flex-column">
                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Windows Apps</a></li>
                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">OneDrive</a></li>
                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Outlook</a></li>
                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Skype</a></li>
                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">OneNote</a></li>
                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Microsoft Teams</a></li>
                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Microsoft Edge</a></li>
              </ul>
            </div>
            <div class="col">
              <h6>Software</h6>
              <ul class="nav flex-column">
                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Windows Apps</a></li>
                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">OneDrive</a></li>
                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Outlook</a></li>
                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Skype</a></li>
                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">OneNote</a></li>
                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Microsoft Teams</a></li>
                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Microsoft Edge</a></li>
              </ul>
            </div>
            <div class="col">
              <h6>Software</h6>
              <ul class="nav flex-column">
                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Windows Apps</a></li>
                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">OneDrive</a></li>
                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Outlook</a></li>
                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Skype</a></li>
                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">OneNote</a></li>
                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Microsoft Teams</a></li>
                <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Microsoft Edge</a></li>
              </ul>
            </div>
          </div>
          </ul>
      </div>
    </li>
</ul>

  <ul class="nav right-menu">
    <li class="nav">
      <a href="#" class="nav-link link-dark px-2">Search</a>
      <svg class="bi" width="20" height="20" fill="currentColor">
        <use xlink:href="/assets/bootstrap-icons.svg#search"/>
      </svg>
    </li>
    <li class="nav">
      <a href="#" class="nav-link link-dark px-2">Cart</a>
      <svg class="bi" width="20" height="20" fill="currentColor">
        <use xlink:href="/assets/bootstrap-icons.svg#cart3"/>
      </svg>
    </li>
    <li class = "nav">
    <button type="button" class="btn pushup">
      <a href="#" class="nav-link link-dark pb-4">Sign in
        <svg class="bi" width="20" height="20" fill="currentColor">
          <use xlink:href="/assets/bootstrap-icons.svg#person-circle"/>
        </svg>
      </a> 
    </button>
  </li>
  </ul>
</div>
</div>
