<div class="container">
    <div class = "d-flex justify-content-start align-items-center">   
        <h5 class = "margin-text"> Follow Microsoft </h5>
        <a href = "https://www.facebook.com/Microsoft" class = "margin">
            <img src = "assets/sociallinks/facebook.png">
        </a>
        <a href = "https://www.twitter.com/microsoft" class = "margin">
            <img src = "assets/sociallinks/twitter.png">
        </a>
        <a href = "https://www.linkedin.com/company/microsoft" class = "margin">
            <img src = "assets/sociallinks/linkedin.png">
        </a>
    </div>
</div>
