<div class="container-fluid">
    <footer class="row row-cols-8 py-5 my-5">
   
       
      <div class="col">
        <h5>What's new</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Surface Pro 8</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Surface Laptop Studio</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Surface Pro X</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Surface Go 3</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Surface Duo 2</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Surface Pro 7+</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Windows 11 apps</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">HoloLens 2</a></li>
        </ul>
      </div>
  
      <div class="col">
        <h5>Microsoft Store</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Account Profile</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Download Center</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Microsoft Store support</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Returns</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Order Tracking</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Virtual workshops and training</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Microsoft Store Promise</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Flexible Payments</a></li>

        </ul>
      </div>
  
      <div class="col">
        <h5>Education</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Microsoft in Education</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Office for Students</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Office 365 for schools</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Deals for students and parents</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Microsoft Azure in Education</a></li>
        </ul>
      </div>

      <div class="col">
        <h5>Enterprise</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Azure</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">AppSource</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Automotive</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Government</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Healthcare</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Manufacturing</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Financial Services</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Retail</a></li>
        </ul>
      </div>
    
      <div class="col">
        <h5>Developer</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Microsoft Visual Studio</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Windows Dev Center</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Developer Center</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Microsoft developer program</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Channel 9</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Microsoft 365 Dev Center</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Microsoft 365 Developer Program</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Microsoft Garage</a></li>
        </ul>
      </div>
    
      <div class="col">
        <h5>Company</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Careers</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">About Microsoft</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Company news</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Privacy at Microsoft</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Investors</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Diversity and inclusion</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Accessibility</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-muted">Security</a></li>
        </ul>
      </div>

    </footer>
  </div>

  