<div class="background">
<div class="container">
    <footer class="row row-cols-8 py-5 my-5 ">
   
       
      <div class="col ">
        <h5>What's new</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Surface Pro 8</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Surface Laptop Studio</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Surface Pro X</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Surface Go 3</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Surface Duo 2</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Surface Pro 7+</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Windows 11 apps</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">HoloLens 2</a></li>
        </ul>
      </div>
  
      <div class="col">
        <h5>Microsoft Store</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Account Profile</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Download Center</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Microsoft Store support</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Returns</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Order Tracking</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Virtual workshops and training</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Microsoft Store Promise</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Flexible Payments</a></li>

        </ul>
      </div>
  
      <div class="col">
        <h5>Education</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Microsoft in Education</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Office for Students</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Office 365 for schools</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Deals for students and parents</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Microsoft Azure in Education</a></li>
        </ul>
      </div>

      <div class="col">
        <h5>Enterprise</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Azure</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">AppSource</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Automotive</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Government</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Healthcare</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Manufacturing</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Financial Services</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Retail</a></li>
        </ul>
      </div>
    
      <div class="col">
        <h5>Developer</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Microsoft Visual Studio</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Windows Dev Center</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Developer Center</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Microsoft developer program</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Channel 9</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Microsoft 365 Dev Center</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Microsoft 365 Developer Program</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Microsoft Garage</a></li>
        </ul>
      </div>
    
      <div class="col">
        <h5>Company</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Careers</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">About Microsoft</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Company news</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Privacy at Microsoft</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Investors</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Diversity and inclusion</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Accessibility</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark">Security</a></li>
        </ul>
      </div>

    </footer>
  </div>
</div>
  