<div class="background">
<div class="container">
    <footer class="row row-cols-8 py-5 my-5 ">
   
       
      <div class="col ">
        <h5>What's new</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Surface Pro 8</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Surface Laptop Studio</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Surface Pro X</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Surface Go 3</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Surface Duo 2</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Surface Pro 7+</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Windows 11 apps</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">HoloLens 2</a></li>
        </ul>
      </div>
  
      <div class="col">
        <h5>Microsoft Store</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Account Profile</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Download Center</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Microsoft Store support</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Returns</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Order Tracking</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Virtual workshops and training</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Microsoft Store Promise</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Flexible Payments</a></li>

        </ul>
      </div>
  
      <div class="col">
        <h5>Education</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Microsoft in Education</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Office for Students</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Office 365 for schools</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Deals for students and parents</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Microsoft Azure in Education</a></li>
        </ul>
      </div>

      <div class="col">
        <h5>Enterprise</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Azure</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">AppSource</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Automotive</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Government</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Healthcare</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Manufacturing</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Financial Services</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Retail</a></li>
        </ul>
      </div>
    
      <div class="col">
        <h5>Developer</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Microsoft Visual Studio</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Windows Dev Center</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Developer Center</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Microsoft developer program</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Channel 9</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Microsoft 365 Dev Center</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Microsoft 365 Developer Program</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Microsoft Garage</a></li>
        </ul>
      </div>
    
      <div class="col">
        <h5>Company</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Careers</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">About Microsoft</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Company news</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Privacy at Microsoft</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Investors</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Diversity and inclusion</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Accessibility</a></li>
          <li class="nav-item mb-0"><a href="#" class="nav-link p-2 text-dark hover">Security</a></li>
        </ul>
      </div>

    </footer>
  </div>
</div>
  