<div class = "container">
<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card-transparent">
        <img src="assets/surface-pro-8.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Surface Pro 8</h5>
          <p class="card-text">Do more with a larger 13-inch touchscreen, faster connections, and extra speed. Now available with Windows 11.</p>
          <a href="#" class="nav-link link-dark px-2">Shop Now
            <svg class="bi " width="20" height="20" fill="currentColor">
              <use xlink:href="/assets/bootstrap-icons.svg#chevron-right"/>
            </svg>
            </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-transparent">
        <img src="assets/surface-pro-7.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Select Surface Pro 7, up to $600 off</h5>
          <p class="card-text">Save big on an ultra-light and versatile device that features a laptop-class Intel Core processor, HD cameras, and built-in Kickstand.</p>
          <a href="#" class="nav-link link-dark px-2">Shop Surface Pro 7
            <svg class="bi " width="20" height="20" fill="currentColor">
              <use xlink:href="/assets/bootstrap-icons.svg#chevron-right"/>
            </svg>
            </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-transparent">
        <img src="assets/xbox-series.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">XBox Series S</h5>
          <p class="card-text">Next-gen performance in the smallest Xbox ever.</p>

                  <a href="#" class="nav-link link-dark ">Compare all plans
                    <svg class="bi " width="20" height="20" fill="currentColor">
                        <use xlink:href="/assets/bootstrap-icons.svg#chevron-right"/>
                      </svg>
                      </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-transparent">
        <img src="assets/laptop.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Do more with windows</h5>
          <p class="card-text">Shop tablets, laptops, all-in-ones, gaming PCs, and more.</p>
          
            <a href="#" class="nav-link link-dark ">For up to 6 people
                <svg class="bi " width="20" height="20" fill="currentColor">
                    <use xlink:href="/assets/bootstrap-icons.svg#chevron-right"/>
                  </svg>
                </a>
                
        </div>
      </div>
    </div>
  </div>
</div>            

