
<nav class="navbar">

    <div class="container">
        
      <a class="navbar-brand" href="#">
        <img src="/assets/microsoft-logo.png" alt="" width="110" height="23" >
      </a>

      <button style="text-align:left;" class="btn ms" type="submit">Microsoft 365</button>
      <button class="btn ms" type="submit">Office</button>
      <button class="btn ms" type="submit">Windows</button>
      <button class="btn ms" type="submit">Surface</button>
      <button class="btn ms" type="submit">XBox</button>
      <button class="btn ms" type="submit">Deals</button>
      <button class="btn ms" type="submit">Support</button>

      <button class="btn ms" type="submit">Search</button>
      <svg class="bi" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#search"/>

      </svg>
      <button class="btn ms" type="submit">Cart</button>
      <svg class="bi" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#cart3"/>
      </svg>

      <button class="btn ms" type="submit">Sign in</button>
     <svg class="bi" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#person-plus"/>
      </svg>
     
    </div>
  </nav>