.ms {
    outline-style: solid;
    outline-color: white;
    border-radius: 0%;
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
 }

 .ms:hover {
     outline-color: white;
 }
