.background {
    background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RWSONc?ver=2c85&q=0&m=8&h=600&w=1600&b=%23FFFFFFFF&l=f&x=3&y=1&s=1891&d=709&aim=true);
    background-size:contain;
    min-height: 475px;  
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.font {
    color: white;
   
    margin-top: 60px;
    padding-top: 50px;
    max-width: 500px;
}

.display {
    color: white;
    display: flex;
    vertical-align: top;
}

.text {
    text-decoration: none;
}