
<div class="container size">
    <a href="#">
<div class="h-auto text-white background ">
    <a href="#" class="nav-link link-white font">
    <h2>Curated by Black communities</h2>
    <p> Microsoft community selections including Black creators, 
        leads, and experiences. Visit aka.ms/xbk.</p>
    </a>
    <button type="button" class="btn btn-light mx-3">Browser games
        <svg class="bi " width="20" height="20" fill="currentColor">
            <use xlink:href="/assets/bootstrap-icons.svg#chevron-right"/>
          </svg>
    </button>
    <a href="#" class="nav-link link-dark display">Browse Games and TV
        <svg class="bi my-1" width="20" height="20" fill="currentColor">
            <use xlink:href="/assets/bootstrap-icons.svg#chevron-right"/>
          </svg>
    </a>
</div>
</a>
</div>
